<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Settings</title>
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />

        <link rel="stylesheet" href="../assets/css/app.css">
        <link rel="stylesheet" href="../assets/css/settings.css">
    </head>
    <body>
        <div class="container">
            <form>
                <div class="form-group">
                    <label for="url">Nightscout URL</label>
                    <input type="text" id="url" name="url"/>
                </div>
                <div class="form-group">
                    <label for="token">Nightscout token</label>
                    <input type="text" id="token" name="token"/>
                </div>
                <div class="form-group">
                    <label for="interval">Refresh interval</label>
                    <input type="number" id="interval" name="interval"/>
                </div>
                <div class="form-group">
                    <button id="save">Save</button>
                </div>
            </form>


        </div>

        <script type="module" src="../assets/js/settings.js"></script>
    </body>
</html>
